body{
    background-color: #0025;
    font-family: arial;
    margin: 30px;
    text-align: center;
    
}
#elementos{
    background-color: #81cacab8;
    border: 3px solid hsl(100, 87%, 34%);
    margin-left: auto;
    border-radius: 15px;
    display: flex;
    box-shadow: 15px 15px #0001;
    justify-content: center
    
}
#elementos .personagem_elemen{
    border: 5px solid hsl(100, 87%, 34%);
    margin: 2%;
    background-color: #ffff;
    cursor: pointer;
    justify-content: center;
    
   
}
#elementos .instrumento_elemen{
    border: 5px solid hsl(100, 87%, 34%);
    margin: 2%;
    background-color: #ffff;
    cursor: pointer;
}
.titulo_resposta{
    margin-left: auto;
    font-size: 25px;
    margin: 2%
}
button #Calcular{
  background-color: red;
  padding: 15px;
  margin-top: 1px
}
/*daqui pra baixo vai ser oque esta so no javascript*/
.selec_persona, .selec_instrumento{
  border-bottom: 10px;
  transform: scale(1.5);
  border-bottom: 5px #306161b8;
}
/*.card{
  backgroud-color: #0001;
  text-align: center;
  cursor: poiter;
  transform: scale(1.5)
}
/*{margin:0; padding:0; box-sixing: border-box; border:}
    
um do lado do outro{
    
    display: flex
    just-content: center
    margin: 0px
    
    }*/